.card{
    background-color: #fff;
    width: 350px;
    height: 450px;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin: 7px;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.button{
    background-color:#F1654B;
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    margin-left:100px;
    margin-bottom:40px;
    width:150px;
}