.stock-form-wrapper {
    text-align: center;
}

.section-form-stock {

    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: bottom;

}

.stock-form-section {
    width: 50vw;
    padding: 20px 20px 2px 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}


.stock-form-section h1 {
    font-family: "Roboto Light", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}

.stock-form-group {
    margin-bottom: 15px;
    padding: 0 5vw 0;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    text-align: left;
}

.stock-form-group input {
    width: 57%;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc7c7;
    padding: 5px;
    margin-left: 25px;
    background-color: #EFEFEF;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.stock-form-calculo {
    display: flex;

}

.stock-form-calculo input {
    width: 4vw;
    font-family: "Roboto Light", sans-serif;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc7c7;
    padding: 5px;
    margin-left: 5px;
    background-color: #EFEFEF;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.stock-form-group input:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #F1654B;
}

.stock-form-calculo input:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #F1654B;
}

.stock-form-group textarea, select {
    background-color: #ccc7c7;
    padding: 3px;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 57%;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border: 1px solid #ccc7c7;
}


textarea:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #F1654B;
}

.add-stock-form {
    margin-bottom: 20px;
}

.css-button-rounded--red {
    min-width: 130px;
    height: 40px;
    text-align-last: center;
    font-family: "Roboto Light", sans-serif;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #F1654B;
    background: #F1654B;
}


.css-button-rounded--red:hover {
    background: #fff;
    color: #F1654B
}

.input-add-subtract {
    display: flex;
    padding: 2vw;
    justify-content: center;
}

#category {
    width: 60%;
    height: 38px;
}

.add-input {
    width: 25%;
    font-size: 15px;
}

.label-add {
    align-self: center;
    margin-left: 35px;
    padding-top: 3px;
}


.calculo-suma {
    color: green;
    font-size: 45px;
}

.calculo-resta {
    color: red;
    font-size: 45px;
}

.select-cat {
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
}