.logo{
    width: 120px;
    height: auto;
}


.inner-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
    background-color: #EFEFEF;

}

.footer-text{
    width:40%
}
.contact{
    margin-right: 3em;

}

.copyright{
    text-align: center;
    padding:1em;
    background-color: #EFEFEF;
    color: black;
}

p{
    color: #000000;
}
ul {
    list-style: none;
}
