.footer{
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;

}

.wide{
    width: 60%;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 80px 0;
}
.thin{
    width: 20%;
    display: flex;
}

.thin img {
    height: 50px;
    padding: 0 20px;
}

.thin h4{
    width: 20px;
}

.thinner {
    width: 20%;
}

p{
    color: #000000;
}
ul {
    list-style: none;
}

@media(max-width:950px) {
    .footer {
        flex-wrap: wrap;
    }

    .wide {
        width: 40%;
    }
}
