.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EFEFEF;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20%;
}

.wide{
    width: 60%;
    align-items: center;
    justify-content: center;
}
.thin{
    width: 20%;
}

.thin img {
    height: inherit;
}

p{
    color: #000000;
}
ul {
    list-style: none;
}
