
.home-section{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left:500px;

}

.home{
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 400px;
    justify-items: center;

}